body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
}

body {
  touch-action: manipulation
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #b00b13;
  text-shadow: .1em .1em 0em lightcoral;
}

button {
  color: white;
  background-color: lightcoral;
  border-radius: .3rem;
  font-size: inherit;
  border: 0px;
  padding: 1rem;
  transition: background-color linear 100ms;
}
button:hover {
  background-color: #b00b13;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.grid-item {
    /* Optional: Add styles for grid items here */
}

.grid-item img {
    width: 100%;
    height: auto;
    /* Optional: Add styles for images here */
}
.grid-item span {
  text-align: center;
  display: block;
}

.grid-container {
  perspective: 12000px; /* Depth of the 3D space */
}

.grid-item {
  /* Adjust width as per your layout */
  /* width: calc(100% / 12); */
  cursor: pointer;
  position: relative;
  transition: transform 300ms;
  transform-style: preserve-3d;
}

.grid-item, .selected-image {
  background-color: lightcoral;
  color: white;
  padding: .5rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}

.grid-item.flipped {
  transform: rotateY(180deg); /* Flip the grid item */
}

.grid-item.flipped .back {
  z-index: 1;
}

.front img, .back {
  backface-visibility: hidden;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back {
  position: absolute;
  background: #b00b13; /* Style as needed */
  transform: rotateY(180deg); /* Flip the back side */
}

/* Optional: Styles for your images */
.front img {
  width: 100%;
  height: auto;
}

.selected-image {
  background: #b00b13;
  margin: 20px auto; /* Centers the image horizontally and adds some margin for spacing */
  max-width: 30%; /* Ensures the image does not exceed the width of its container */
  height: auto; /* Maintains the aspect ratio of the image */
}
.selected-image .you-are {
  font-weight: bold;
}
.selected-image img {
  display: block;
  margin: .5rem;
}
.selected-image span {
  text-align: center;
  display: block;
}